In [1]:
import pandas as pd
import numpy as np

In [2]:
df_scoot = pd.read_csv('scoot_reviews.csv')
df_scoot.head()

,Date Published,Overall Rating,Passenger Country,Trip Verified,Review Title,Review,Aircraft,Type Of Traveller,Seat Type,Origin,...,Layover,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Wifi & Connectivity,Value For Money,Recommended,Inflight Entertainment
0,2024-03-26,3.0,Australia,Not Verified,"""not recommend flying Scoot""",My flight to Singapore was uneventful as usual...,Boeing 787,Solo Leisure,Economy Class,Sydney,...,NaN,February 2024,1.0,3.0,1.0,3.0,2.0,3,no,NaN
1,2024-03-24,1.0,Malaysia,Trip Verified,"""whole cabin is like sauna""",Using super old plane. Aircon was blowing warm...,NaN,Solo Leisure,Economy Class,Singapore,...,NaN,March 2024,1.0,3.0,2.0,3.0,NaN,2,no,1.0
2,2024-03-24,9.0,Singapore,Trip Verified,"""professional, helpful and friendly""","I travelled with my sister, my elderly parent ...",NaN,Family Leisure,Economy Class,Haikou,...,NaN,March 2024,4.0,5.0,4.0,5.0,NaN,5,yes,NaN
3,2024-03-22,7.0,United States,Trip Verified,"""seat pitch is generous and comfortable""",Was assigned last two row at seat 39F with the...,A321 NEO,Solo Leisure,Economy Class,Kuala Lumpur,...,NaN,March 2024,5.0,3.0,NaN,2.0,2.0,5,yes,NaN
4,2024-03-21,4.0,Australia,Trip Verified,"""Very rude male flight attendant""",Very rude male flight attendant. Accessed the ...,A321,Family Leisure,Economy Class,Singapore,...,NaN,March 2024,3.0,1.0,NaN,4.0,NaN,4,no,NaN

In [3]:
df_scoot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date Published          683 non-null    object
 1   Overall Rating          662 non-null    float64
 2   Passenger Country       683 non-null    object
 3   Trip Verified           437 non-null    object
 4   Review Title            683 non-null    object
 5   Review                  683 non-null    object
 6   Aircraft                220 non-null    object
 7   Type Of Traveller       502 non-null    object
 8   Seat Type               628 non-null    object
 9   Origin                  499 non-null    object
 10  Destination             499 non-null    object
 11  Layover                 116 non-null    object
 12  Date Flown              501 non-null    object
 13  Seat Comfort            632 non-null    float64
 14  Cabin Staff Service     628 non-null    float64
 15  Food & Beverages        457 non-null    float64
 16  Ground Service          475 non-null    float64
 17  Wifi & Connectivity     131 non-null    float64
 18  Value For Money         683 non-null    int64
 19  Recommended             683 non-null    object
 20  Inflight Entertainment  322 non-null    float64
dtypes: float64(7), int64(1), object(13)
memory usage: 112.2+ KB

In [6]:
df_scoot.describe()

,Overall Rating,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Wifi & Connectivity,Value For Money,Inflight Entertainment
count,662.000000,632.000000,628.000000,457.000000,475.000000,131.000000,683.000000,322.000000
mean,4.471299,2.691456,2.901274,1.973742,2.482105,1.755725,2.819912,1.108696
std,3.402623,1.365661,1.474871,1.353751,1.568814,1.265468,1.614110,1.177668
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
50%,3.000000,3.000000,3.000000,1.000000,2.000000,1.000000,3.000000,1.000000
75%,8.000000,4.000000,4.000000,3.000000,4.000000,2.000000,4.000000,1.000000
max,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [5]:
df_scoot['Date Flown'].unique()

array(['February 2024', 'March 2024', 'January 2024', 'October 2023',
       'December 2023', 'November 2023', 'September 2023', 'August 2023',
       'July 2023', 'June 2023', 'May 2023', 'January 2023',
       'February 2023', 'December 2022', 'April 2023', 'March 2023',
       'September 2022', 'November 2022', 'July 2022', 'October 2022',
       'May 2022', 'August 2022', 'June 2022', 'March 2022',
       'January 2022', 'April 2022', 'February 2022', 'November 2021',
       'October 2021', 'September 2021', 'September 2020',
       'February 2020', 'July 2020', 'March 2020', 'May 2019',
       'January 2020', 'December 2019', 'November 2019', 'July 2019',
       'October 2019', 'August 2019', 'September 2019', 'June 2019',
       'February 2019', 'March 2019', 'April 2019', 'January 2019',
       'October 2018', 'December 2018', 'June 2018', 'November 2018',
       'September 2018', 'July 2018', 'October 2017', 'August 2018',
       'May 2018', 'January 2018', 'April 2018', 'March 2018',
       'February 2018', 'December 2017', 'November 2017', 'August 2017',
       'April 2017', 'July 2017', 'September 2017', 'May 2017',
       'November 2016', 'June 2017', 'February 2017', 'March 2017',
       'December 2016', 'January 2017', 'July 2016', 'September 2016',
       'October 2016', 'August 2016', 'June 2016', 'March 2016',
       'April 2016', 'February 2016', 'June 2015', 'November 2015',
       'January 2016', 'December 2015', 'September 2015', 'October 2015',
       'April 2015', 'July 2015', 'August 2015', nan], dtype=object)